h1 {
  margin-bottom: 0.5rem;
}
h2 {
  margin-top: 0;
}
#setting-container {
  margin: 1.5rem 0;
  text-align: center;
}

/* content-cotainer-------------------- */
#content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  position: relative;

  border: 2px solid white;
  border-radius: 5px;
  min-width: 640px;
  min-height: 320px;
}
#overlay {
  position: absolute;
  pointer-events: none;
}
#content-container img {
  display: block;
  max-width: 640px;
  max-height: 640px;
  border-radius: 5px;
}

/* btn-container------------------------ */
#btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 30px;

}
.btn:disabled {
  cursor: not-allowed;
}

/* model status container---------------------- */
#model-status-container p {
  font-size: 1.3rem;
  margin: 10px;
}

#inferenct-time-container {
  display: flex;
  justify-content: center;
  gap: 6rem;
}